In [12]:
# 숫자 및 데이터 다루는 라이브러리
import numpy as np
import pandas as pd

In [21]:
### CSV 파일을 읽어 DataFrame 변수에 저장하기
### 1페이지_이름 순 정렬
data1 = pd.read_csv("./fixed_건대_Age.csv", encoding="ms949")
data1

,name,tenCen,twoCen,threeCen,fourCen,fiveCen,sixCen,womanRatio,manRatio
0,60년전통신촌황소곱창 건대직영점,33.188471,47.724471,34.401882,31.032000,36.248706,11.764706,47,53
1,972Bar,47.798333,81.895667,34.080667,23.921667,22.567667,16.666667,50,50
2,972Bar,47.798333,81.895667,34.080667,23.921667,22.567667,16.666667,50,50
3,C156,39.557882,50.124941,34.868471,25.737176,20.728235,11.764706,51,49
4,CUCINA843,11.764706,48.062353,36.857647,26.397412,17.508941,11.764706,51,49
...,...,...,...,...,...,...,...,...,...
298,환이네갈비살 본점,25.000000,86.042500,81.087500,83.034500,81.255500,88.999500,50,50
299,후토,11.764706,52.832471,40.008706,26.120000,17.046118,11.764706,45,55
300,훈춘양꼬치,71.566500,91.771000,83.253000,85.652000,68.566500,25.000000,46,54
301,흐릇,11.764706,47.174824,34.175529,20.912941,11.764706,11.764706,63,37
302,흥에취한범 건대점,32.551333,89.588000,32.777667,23.691667,24.074333,21.863333,45,55

In [22]:
data2 = pd.read_csv("./fixed_건대_Category.csv", encoding="ms949")

In [23]:
len(data1)

303

In [24]:
len(data2)

305

In [28]:
data3 = pd.merge(left=data1, right=data2, on=["name"], how="inner")

In [31]:
data3 = data3.drop_duplicates()

In [32]:
data3.to_csv("fixed_건대_Join.csv",mode="w", encoding = "ms949")

In [33]:
data3

,name,tenCen,twoCen,threeCen,fourCen,fiveCen,sixCen,womanRatio,manRatio,gubun,score,visitCount,blogCount
0,60년전통신촌황소곱창 건대직영점,33.188471,47.724471,34.401882,31.032000,36.248706,11.764706,47,53,"곱창,막창,양",4.12,297,385
1,972Bar,47.798333,81.895667,34.080667,23.921667,22.567667,16.666667,50,50,바(BAR),4.58,95,438
3,C156,39.557882,50.124941,34.868471,25.737176,20.728235,11.764706,51,49,양식,4.59,729,514
4,CUCINA843,11.764706,48.062353,36.857647,26.397412,17.508941,11.764706,51,49,양식,4.59,74,150
5,LITE LANE,42.684706,48.135529,32.104235,23.636000,11.764706,11.764706,58,42,카페,4.43,458,260
...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,환이네갈비살 본점,25.000000,86.042500,81.087500,83.034500,81.255500,88.999500,50,50,"육류,고기요리",4.37,302,123
309,후토,11.764706,52.832471,40.008706,26.120000,17.046118,11.764706,45,55,이자카야,4.47,147,148
310,훈춘양꼬치,71.566500,91.771000,83.253000,85.652000,68.566500,25.000000,46,54,양꼬치,4.64,133,123
311,흐릇,11.764706,47.174824,34.175529,20.912941,11.764706,11.764706,63,37,카페,4.75,74,44
313,흥에취한범 건대점,32.551333,89.588000,32.777667,23.691667,24.074333,21.863333,45,55,요리주점,4.75,246,12