# 라이브러리 선언

In [1]:
import pandas as pd
import numpy as np

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

#모델 라이브러리 선언
from sklearn import datasets, tree

# 데이터 조작 및 숫자 연산
import pandas as pd
import numpy as np

#시각화 라이브러리
import matplotlib.pyplot as plt
import seaborn as sns

# 분석모델
from sklearn.tree import DecisionTreeRegressor
from sklearn.cluster import KMeans
from sklearn import svm
    
# 분석 평가 지표
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

# 함수 불러오기
import function as func

# 1.데이터 불러오기

## 1-1 original_지역_Age 전처리

### 1) 건대

In [2]:
for i in range(0, 6) :
    ### CSV 파일을 읽어 DataFrame 변수에 저장하기
    importFileName = "./dataset/original_건대_age_num.csv"
    importFile = importFileName.replace('num',str(i+1))

    ageData1 = pd.read_csv(importFile, sep="|")

    ### 중복데이터 삭제
    ageData1.drop_duplicates(inplace=True)


    ### 구분자 삭제
    ageData1.tenCen = ageData1.tenCen.str[0:-5]
    ageData1.twoCen = ageData1.twoCen.str[0:-5]
    ageData1.threeCen = ageData1.threeCen.str[0:-5]
    ageData1.fourCen = ageData1.fourCen.str[0:-5]
    ageData1.fiveCen = ageData1.fiveCen.str[0:-5]
    ageData1.sixCen = ageData1.sixCen.str[0:-5]

    ageData1.womanRatio = ageData1.womanRatio.str[0:-1]
    ageData1.womanRatio = ageData1.womanRatio.str[-2:]
    ageData1.manRatio = ageData1.manRatio.str[0:-1]
    ageData1.manRatio = ageData1.manRatio.str[-2:]

    ### 형식 맞춰 캐스팅
    ageData1["tenCen"] = ageData1.tenCen.astype(float)
    ageData1["twoCen"] = ageData1.twoCen.astype(float)
    ageData1["threeCen"] = ageData1.threeCen.astype(float)
    ageData1["fourCen"] = ageData1.fourCen.astype(float)
    ageData1["fiveCen"] = ageData1.fiveCen.astype(float)
    ageData1["sixCen"] = ageData1.sixCen.astype(float)

    ageData1["womanRatio"] = ageData1.womanRatio.astype(int)
    ageData1["manRatio"] = ageData1.manRatio.astype(int)

    ### 타입 통합
    ageData1 =  ageData1.astype( { "tenCen" : float, "twoCen" : float, "threeCen" : float, "fourCen" : float, "fiveCen" : float, "sixCen" : float, "womanRatio" : int, "manRatio" : int })

    ### 이름순 정렬
    ageData1 = ageData1.sort_values(by=["name"], ignore_index=True)
    
    saveFileName = "./dataset/fixed_건대_age_num.csv"
    saveFile = saveFileName.replace('num',str(i+1))
    
    ### 파일 저장
    ageData1.to_csv(saveFile, mode="w", encoding='utf8', sep='|', line_terminator='\n', index=False)

### 2) 신림

In [3]:
for i in range(0, 4) :
    ### CSV 파일을 읽어 DataFrame 변수에 저장하기
    importFileName = "./dataset/original_신림_age_num.csv"
    importFile = importFileName.replace('num',str(i+1))

    ageData1 = pd.read_csv(importFile, sep="|")

    ### 중복데이터 삭제
    ageData1.drop_duplicates(inplace=True)


    ### 구분자 삭제
    ageData1.tenCen = ageData1.tenCen.str[0:-5]
    ageData1.twoCen = ageData1.twoCen.str[0:-5]
    ageData1.threeCen = ageData1.threeCen.str[0:-5]
    ageData1.fourCen = ageData1.fourCen.str[0:-5]
    ageData1.fiveCen = ageData1.fiveCen.str[0:-5]
    ageData1.sixCen = ageData1.sixCen.str[0:-5]

    ageData1.womanRatio = ageData1.womanRatio.str[0:-1]
    ageData1.womanRatio = ageData1.womanRatio.str[-2:]
    ageData1.manRatio = ageData1.manRatio.str[0:-1]
    ageData1.manRatio = ageData1.manRatio.str[-2:]

    ### 형식 맞춰 캐스팅
    ageData1["tenCen"] = ageData1.tenCen.astype(float)
    ageData1["twoCen"] = ageData1.twoCen.astype(float)
    ageData1["threeCen"] = ageData1.threeCen.astype(float)
    ageData1["fourCen"] = ageData1.fourCen.astype(float)
    ageData1["fiveCen"] = ageData1.fiveCen.astype(float)
    ageData1["sixCen"] = ageData1.sixCen.astype(float)

    ageData1["womanRatio"] = ageData1.womanRatio.astype(int)
    ageData1["manRatio"] = ageData1.manRatio.astype(int)

    ### 타입 통합
    ageData1 =  ageData1.astype( { "tenCen" : float, "twoCen" : float, "threeCen" : float, "fourCen" : float, "fiveCen" : float, "sixCen" : float, "womanRatio" : int, "manRatio" : int })

    ### 이름순 정렬
    ageData1 = ageData1.sort_values(by=["name"], ignore_index=True)
    
    saveFileName = "./dataset/fixed_신림_age_num.csv"
    saveFile = saveFileName.replace('num',str(i+1))
    
    ### 파일 저장
    ageData1.to_csv(saveFile, mode="w", encoding='utf8', sep='|', line_terminator='\n', index=False)

### 3) 신사

In [4]:
for i in range(0, 6) :
    ### CSV 파일을 읽어 DataFrame 변수에 저장하기
    importFileName = "./dataset/original_신사_age_num.csv"
    importFile = importFileName.replace('num',str(i))

    ageData1 = pd.read_csv(importFile, sep="|")

    ### 중복데이터 삭제
    ageData1.drop_duplicates(inplace=True)


    ### 구분자 삭제
    ageData1.tenCen = ageData1.tenCen.str[0:-5]
    ageData1.twoCen = ageData1.twoCen.str[0:-5]
    ageData1.threeCen = ageData1.threeCen.str[0:-5]
    ageData1.fourCen = ageData1.fourCen.str[0:-5]
    ageData1.fiveCen = ageData1.fiveCen.str[0:-5]
    ageData1.sixCen = ageData1.sixCen.str[0:-5]

    ageData1.womanRatio = ageData1.womanRatio.str[0:-1]
    ageData1.womanRatio = ageData1.womanRatio.str[-2:]
    ageData1.manRatio = ageData1.manRatio.str[0:-1]
    ageData1.manRatio = ageData1.manRatio.str[-2:]

    ### 형식 맞춰 캐스팅
    ageData1["tenCen"] = ageData1.tenCen.astype(float)
    ageData1["twoCen"] = ageData1.twoCen.astype(float)
    ageData1["threeCen"] = ageData1.threeCen.astype(float)
    ageData1["fourCen"] = ageData1.fourCen.astype(float)
    ageData1["fiveCen"] = ageData1.fiveCen.astype(float)
    ageData1["sixCen"] = ageData1.sixCen.astype(float)

    ageData1["womanRatio"] = ageData1.womanRatio.astype(int)
    ageData1["manRatio"] = ageData1.manRatio.astype(int)

    ### 타입 통합
    ageData1 =  ageData1.astype( { "tenCen" : float, "twoCen" : float, "threeCen" : float, "fourCen" : float, "fiveCen" : float, "sixCen" : float, "womanRatio" : int, "manRatio" : int })

    ### 이름순 정렬
    ageData1 = ageData1.sort_values(by=["name"], ignore_index=True)
    
    saveFileName = "./dataset/fixed_신사_age_num.csv"
    saveFile = saveFileName.replace('num',str(i))
    
    ### 파일 저장
    ageData1.to_csv(saveFile, mode="w", encoding='utf8', sep='|', line_terminator='\n', index=False)

### 4) 혜화

In [5]:
for i in range(0, 6) :
    ### CSV 파일을 읽어 DataFrame 변수에 저장하기
    importFileName = "./dataset/original_혜화_age_num.csv"
    importFile = importFileName.replace('num',str(i+1))

    ageData1 = pd.read_csv(importFile, sep="|")

    ### 중복데이터 삭제
    ageData1.drop_duplicates(inplace=True)


    ### 구분자 삭제
    ageData1.tenCen = ageData1.tenCen.str[0:-5]
    ageData1.twoCen = ageData1.twoCen.str[0:-5]
    ageData1.threeCen = ageData1.threeCen.str[0:-5]
    ageData1.fourCen = ageData1.fourCen.str[0:-5]
    ageData1.fiveCen = ageData1.fiveCen.str[0:-5]
    ageData1.sixCen = ageData1.sixCen.str[0:-5]

    ageData1.womanRatio = ageData1.womanRatio.str[0:-1]
    ageData1.womanRatio = ageData1.womanRatio.str[-2:]
    ageData1.manRatio = ageData1.manRatio.str[0:-1]
    ageData1.manRatio = ageData1.manRatio.str[-2:]

    ### 형식 맞춰 캐스팅
    ageData1["tenCen"] = ageData1.tenCen.astype(float)
    ageData1["twoCen"] = ageData1.twoCen.astype(float)
    ageData1["threeCen"] = ageData1.threeCen.astype(float)
    ageData1["fourCen"] = ageData1.fourCen.astype(float)
    ageData1["fiveCen"] = ageData1.fiveCen.astype(float)
    ageData1["sixCen"] = ageData1.sixCen.astype(float)

    ageData1["womanRatio"] = ageData1.womanRatio.astype(int)
    ageData1["manRatio"] = ageData1.manRatio.astype(int)

    ### 타입 통합
    ageData1 =  ageData1.astype( { "tenCen" : float, "twoCen" : float, "threeCen" : float, "fourCen" : float, "fiveCen" : float, "sixCen" : float, "womanRatio" : int, "manRatio" : int })

    ### 이름순 정렬
    ageData1 = ageData1.sort_values(by=["name"], ignore_index=True)
    
    saveFileName = "./dataset/fixed_혜화_age_num.csv"
    saveFile = saveFileName.replace('num',str(i+1))
    
    ### 파일 저장
    ageData1.to_csv(saveFile, mode="w", encoding='utf8', sep='|', line_terminator='\n', index=False)

### 5) 홍대

In [6]:
for i in range(0, 6) :
    ### CSV 파일을 읽어 DataFrame 변수에 저장하기
    importFileName = "./dataset/original_홍대_age_num.csv"
    importFile = importFileName.replace('num',str(i+1))

    ageData1 = pd.read_csv(importFile, sep="|")

    ### 중복데이터 삭제
    ageData1.drop_duplicates(inplace=True)


    ### 구분자 삭제
    ageData1.tenCen = ageData1.tenCen.str[0:-5]
    ageData1.twoCen = ageData1.twoCen.str[0:-5]
    ageData1.threeCen = ageData1.threeCen.str[0:-5]
    ageData1.fourCen = ageData1.fourCen.str[0:-5]
    ageData1.fiveCen = ageData1.fiveCen.str[0:-5]
    ageData1.sixCen = ageData1.sixCen.str[0:-5]

    ageData1.womanRatio = ageData1.womanRatio.str[0:-1]
    ageData1.womanRatio = ageData1.womanRatio.str[-2:]
    ageData1.manRatio = ageData1.manRatio.str[0:-1]
    ageData1.manRatio = ageData1.manRatio.str[-2:]

    ### 형식 맞춰 캐스팅
    ageData1["tenCen"] = ageData1.tenCen.astype(float)
    ageData1["twoCen"] = ageData1.twoCen.astype(float)
    ageData1["threeCen"] = ageData1.threeCen.astype(float)
    ageData1["fourCen"] = ageData1.fourCen.astype(float)
    ageData1["fiveCen"] = ageData1.fiveCen.astype(float)
    ageData1["sixCen"] = ageData1.sixCen.astype(float)

    ageData1["womanRatio"] = ageData1.womanRatio.astype(int)
    ageData1["manRatio"] = ageData1.manRatio.astype(int)

    ### 타입 통합
    ageData1 =  ageData1.astype( { "tenCen" : float, "twoCen" : float, "threeCen" : float, "fourCen" : float, "fiveCen" : float, "sixCen" : float, "womanRatio" : int, "manRatio" : int })

    ### 이름순 정렬
    ageData1 = ageData1.sort_values(by=["name"], ignore_index=True)
    
    saveFileName = "./dataset/fixed_홍대_age_num.csv"
    saveFile = saveFileName.replace('num',str(i+1))
    
    ### 파일 저장
    ageData1.to_csv(saveFile, mode="w", encoding='utf8', sep='|', line_terminator='\n', index=False)

## 1-2 original_지역_Category 전처리

##### 1) 건대

In [7]:
for i in range(1,7):
    importFileName = "./dataset/original_건대_category_num.csv"
    changeFileName = "./dataset/fixed_건대_Category_num.csv"
    
    importFileName = importFileName.replace("num",str(i))
    changeFileName = changeFileName.replace("num",str(i))
    
    # 데이터 불러오기
    newCategoryData = pd.read_csv(importFileName, sep='|')
    
    # 데이터 전처리 작업
    newCategoryData.score = newCategoryData.score.str[0:-2]
    newCategoryData.visitCount = newCategoryData.visitCount.str[7:]
    newCategoryData.blogCount = newCategoryData.blogCount.str[7:]

    # 형변환 위해 콤마(,) 제거
    newCategoryData.visitCount = newCategoryData.visitCount.str.replace(',', '').astype('int64')
    newCategoryData.blogCount = newCategoryData.blogCount.str.replace(',', '').astype('int64')

    # 숫자타입으로 형변환
    newCategoryData["score"] = newCategoryData.score.astype(float)
    newCategoryData["visitCount"] = newCategoryData.visitCount.astype(int)
    newCategoryData["blogCount"] = newCategoryData.blogCount.astype(int)

    # 가게명 순 정렬
    newCategoryData = newCategoryData.sort_values(["name"], ignore_index=True)

    # 중복 제거
    newCategoryData = newCategoryData.drop_duplicates()
    
    # fixed 데이터로 저장
    newCategoryData.to_csv(changeFileName, mode="w", encoding='utf8', sep='|', line_terminator='\n', index=False)

##### 2) 신림

In [8]:
for i in range(1,5):
    importFileName = "./dataset/original_신림_category_num.csv"
    changeFileName = "./dataset/fixed_신림_Category_num.csv"
    
    importFileName = importFileName.replace("num",str(i))
    changeFileName = changeFileName.replace("num",str(i))
    
    # 데이터 불러오기
    newCategoryData = pd.read_csv(importFileName, sep='|')
    
    # 데이터 전처리 작업
    newCategoryData.score = newCategoryData.score.str[0:-2]
    newCategoryData.visitCount = newCategoryData.visitCount.str[7:]
    newCategoryData.blogCount = newCategoryData.blogCount.str[7:]

    # 형변환 위해 콤마(,) 제거
    newCategoryData.visitCount = newCategoryData.visitCount.str.replace(',', '').astype('int64')
    newCategoryData.blogCount = newCategoryData.blogCount.str.replace(',', '').astype('int64')

    # 숫자타입으로 형변환
    newCategoryData["score"] = newCategoryData.score.astype(float)
    newCategoryData["visitCount"] = newCategoryData.visitCount.astype(int)
    newCategoryData["blogCount"] = newCategoryData.blogCount.astype(int)

    # 가게명 순 정렬
    newCategoryData = newCategoryData.sort_values(["name"], ignore_index=True)

    # 중복 제거
    newCategoryData = newCategoryData.drop_duplicates()
    
    # fixed 데이터로 저장
    newCategoryData.to_csv(changeFileName, mode="w", encoding='utf8', sep='|', line_terminator='\n', index=False)

##### 3) 신사

In [9]:
for i in range(0,6):
    importFileName = "./dataset/original_신사_category_num.csv"
    changeFileName = "./dataset/fixed_신사_Category_num.csv"
    
    importFileName = importFileName.replace("num",str(i))
    changeFileName = changeFileName.replace("num",str(i))
    
    # 데이터 불러오기
    newCategoryData = pd.read_csv(importFileName, sep='|')
    
    # 데이터 전처리 작업
    newCategoryData.score = newCategoryData.score.str[0:-2]
    newCategoryData.visitCount = newCategoryData.visitCount.str[7:]
    newCategoryData.blogCount = newCategoryData.blogCount.str[7:]

    # 형변환 위해 콤마(,) 제거
    newCategoryData.visitCount = newCategoryData.visitCount.str.replace(',', '').astype('int64')
    newCategoryData.blogCount = newCategoryData.blogCount.str.replace(',', '').astype('int64')

    # 숫자타입으로 형변환
    newCategoryData["score"] = newCategoryData.score.astype(float)
    newCategoryData["visitCount"] = newCategoryData.visitCount.astype(int)
    newCategoryData["blogCount"] = newCategoryData.blogCount.astype(int)

    # 가게명 순 정렬
    newCategoryData = newCategoryData.sort_values(["name"], ignore_index=True)

    # 중복 제거
    newCategoryData = newCategoryData.drop_duplicates()
    
    # fixed 데이터로 저장
    newCategoryData.to_csv(changeFileName, mode="w", encoding='utf8', sep='|', line_terminator='\n', index=False)

##### 4) 혜화

In [10]:
for i in range(1,7):
    importFileName = "./dataset/original_혜화_category_num.csv"
    changeFileName = "./dataset/fixed_혜화_Category_num.csv"
    
    importFileName = importFileName.replace("num",str(i))
    changeFileName = changeFileName.replace("num",str(i))
    
    # 데이터 불러오기
    newCategoryData = pd.read_csv(importFileName, sep='|')
    
    # 데이터 전처리 작업
    newCategoryData.score = newCategoryData.score.str[0:-2]
    newCategoryData.visitCount = newCategoryData.visitCount.str[7:]
    newCategoryData.blogCount = newCategoryData.blogCount.str[7:]

    # 형변환 위해 콤마(,) 제거
    newCategoryData.visitCount = newCategoryData.visitCount.str.replace(',', '').astype('int64')
    newCategoryData.blogCount = newCategoryData.blogCount.str.replace(',', '').astype('int64')

    # 숫자타입으로 형변환
    newCategoryData["score"] = newCategoryData.score.astype(float)
    newCategoryData["visitCount"] = newCategoryData.visitCount.astype(int)
    newCategoryData["blogCount"] = newCategoryData.blogCount.astype(int)

    # 가게명 순 정렬
    newCategoryData = newCategoryData.sort_values(["name"], ignore_index=True)

    # 중복 제거
    newCategoryData = newCategoryData.drop_duplicates()
    
    # fixed 데이터로 저장
    newCategoryData.to_csv(changeFileName, mode="w", encoding='utf8', sep='|', line_terminator='\n', index=False)

##### 5) 홍대

In [11]:
for i in range(1,7):
    importFileName = "./dataset/original_홍대_category_num.csv"
    changeFileName = "./dataset/fixed_홍대_Category_num.csv"
    
    importFileName = importFileName.replace("num",str(i))
    changeFileName = changeFileName.replace("num",str(i))
    
    # 데이터 불러오기
    newCategoryData = pd.read_csv(importFileName, sep='|')
    
    # 데이터 전처리 작업
    newCategoryData.score = newCategoryData.score.str[0:-2]
    newCategoryData.visitCount = newCategoryData.visitCount.str[7:]
    newCategoryData.blogCount = newCategoryData.blogCount.str[7:]

    # 형변환 위해 콤마(,) 제거
    newCategoryData.visitCount = newCategoryData.visitCount.str.replace(',', '').astype('int64')
    newCategoryData.blogCount = newCategoryData.blogCount.str.replace(',', '').astype('int64')

    # 숫자타입으로 형변환
    newCategoryData["score"] = newCategoryData.score.astype(float)
    newCategoryData["visitCount"] = newCategoryData.visitCount.astype(int)
    newCategoryData["blogCount"] = newCategoryData.blogCount.astype(int)

    # 가게명 순 정렬
    newCategoryData = newCategoryData.sort_values(["name"], ignore_index=True)

    # 중복 제거
    newCategoryData = newCategoryData.drop_duplicates()
    
    # fixed 데이터로 저장
    newCategoryData.to_csv(changeFileName, mode="w", encoding='utf8', sep='|', line_terminator='\n', index=False)

# 2. 데이터 병합

## 2-1 fixed_지역_Age 병합

### 1) 건대

In [12]:
### CSV 파일을 읽어 DataFrame 변수에 저장하기
### 1페이지
ageData1 = pd.read_csv("./dataset/fixed_건대_age_1.csv", sep="|")
### 2페이지
ageData2 = pd.read_csv("./dataset/fixed_건대_age_2.csv", sep="|")
### 3페이지
ageData3 = pd.read_csv("./dataset/fixed_건대_age_3.csv", sep="|")
### 4페이지
ageData4 = pd.read_csv("./dataset/fixed_건대_age_4.csv", sep="|")
### 5페이지
ageData5 = pd.read_csv("./dataset/fixed_건대_age_5.csv", sep="|")
### 6페이지
ageData6 = pd.read_csv("./dataset/fixed_건대_age_6.csv", sep="|")

### 데이터 병합
merge12 = pd.merge(ageData1, ageData2, how="outer", on=None)
merge34 = pd.merge(ageData3, ageData4, how="outer", on=None)
merge56 = pd.merge(ageData5, ageData6, how="outer", on=None)
merge1234 = pd.merge(merge12,merge34, how="outer", on=None)
mergeData1 = pd.merge(merge1234,merge56, how="outer", on=None)

# 중복 제거
mergeData1.drop_duplicates(inplace=True, ignore_index=True)

In [13]:
mergeData1.to_csv("./dataset/fixed_건대_Age.csv", mode="w", encoding='utf8', sep='|', line_terminator='\n', index=False)

### 2) 신림

In [14]:
### CSV 파일을 읽어 DataFrame 변수에 저장하기
### 1페이지
ageData1 = pd.read_csv("./dataset/fixed_신림_age_1.csv", sep="|")

### 2페이지
ageData2 = pd.read_csv("./dataset/fixed_신림_age_2.csv", sep="|")

### 3페이지
ageData3 = pd.read_csv("./dataset/fixed_신림_age_3.csv", sep="|")

### 4페이지
ageData4 = pd.read_csv("./dataset/fixed_신림_age_4.csv", sep="|")

### 데이터 병합
merge12 = pd.merge(ageData1, ageData2, how="outer", on=None)
merge34 = pd.merge(ageData3, ageData4, how="outer", on=None)

mergeData2 = pd.merge(merge12,merge34, how="outer", on=None)

# 중복 제거
mergeData2.drop_duplicates(inplace=True, ignore_index=True)
mergeData2

mergeData2.to_csv("./dataset/fixed_신림_Age.csv", mode="w", encoding='utf8', sep='|', line_terminator='\n', index=False)

### 3) 신사

In [15]:
### CSV 파일을 읽어 DataFrame 변수에 저장하기
### 1페이지
ageData1 = pd.read_csv("./dataset/fixed_신사_age_0.csv", sep="|")
### 2페이지
ageData2 = pd.read_csv("./dataset/fixed_신사_age_1.csv", sep="|")
### 3페이지
ageData3 = pd.read_csv("./dataset/fixed_신사_age_2.csv", sep="|")
### 4페이지
ageData4 = pd.read_csv("./dataset/fixed_신사_age_3.csv", sep="|")
### 5페이지
ageData5 = pd.read_csv("./dataset/fixed_신사_age_4.csv", sep="|")


### 데이터 병합
merge12 = pd.merge(ageData1, ageData2, how="outer", on=None)
merge34 = pd.merge(ageData3, ageData4, how="outer", on=None)

merge1234 = pd.merge(merge12,merge34, how="outer", on=None)
mergeData3 = pd.merge(merge1234,ageData5, how="outer", on=None)

# 중복 제거
mergeData3.drop_duplicates(inplace=True, ignore_index=True)
mergeData3

,name,tenCen,twoCen,threeCen,fourCen,fiveCen,sixCen,womanRatio,manRatio
0,강남면옥 본점,30.110500,83.354000,92.767500,90.786500,81.763500,85.987500,47,53
1,까폼,30.490333,81.239667,72.147667,55.336667,41.467333,36.028000,55,45
2,꽁티드툴레아,25.191000,76.964333,55.829333,32.520667,25.346667,9.893667,72,28
3,뉴만두집,23.545333,69.313000,74.358000,74.550333,76.350000,67.634667,55,45
4,뉴욕라츠오베이글스,32.328235,52.902588,44.844941,37.521176,30.593412,24.769412,63,37
...,...,...,...,...,...,...,...,...,...
245,트라가 가로수길점,5.216857,33.339143,24.507143,20.761429,17.925714,11.987714,50,50
246,플디 도산점,39.304706,51.338824,37.355765,23.883294,17.273882,14.001647,66,34
247,한일관 압구정점,18.835059,38.159059,42.886824,42.379059,42.251529,49.851765,49,51
248,홍미닭발 신사본점,58.291500,99.306500,88.522500,87.857500,64.672500,47.280000,56,44
249,휴고 도산,25.000000,97.786000,87.680000,59.592500,43.019000,25.000000,63,37

In [16]:
mergeData3.to_csv("./dataset/fixed_신사_Age.csv", mode="w", encoding='utf8', sep='|', line_terminator='\n', index=False)

### 4) 혜화

In [17]:
### CSV 파일을 읽어 DataFrame 변수에 저장하기
### 1페이지
ageData1 = pd.read_csv("./dataset/fixed_혜화_age_1.csv", sep="|")
### 2페이지
ageData2 = pd.read_csv("./dataset/fixed_혜화_age_2.csv", sep="|")
### 3페이지
ageData3 = pd.read_csv("./dataset/fixed_혜화_age_3.csv", sep="|")
### 4페이지
ageData4 = pd.read_csv("./dataset/fixed_혜화_age_4.csv", sep="|")
### 5페이지
ageData5 = pd.read_csv("./dataset/fixed_혜화_age_5.csv", sep="|")
### 6페이지
ageData6 = pd.read_csv("./dataset/fixed_혜화_age_6.csv", sep="|")

### 데이터 병합
merge12 = pd.merge(ageData1, ageData2, how="outer", on=None)
merge34 = pd.merge(ageData3, ageData4, how="outer", on=None)
merge56 = pd.merge(ageData5, ageData6, how="outer", on=None)
merge1234 = pd.merge(merge12,merge34, how="outer", on=None)
mergeData4 = pd.merge(merge1234,merge56, how="outer", on=None)

# 중복 제거
mergeData4.drop_duplicates(inplace=True, ignore_index=True)

In [18]:
mergeData4.to_csv("./dataset/fixed_혜화_Age.csv", mode="w", encoding='utf8', sep='|', line_terminator='\n', index=False)

### 5) 홍대

In [19]:
### CSV 파일을 읽어 DataFrame 변수에 저장하기
### 1페이지
ageData1 = pd.read_csv("./dataset/fixed_홍대_age_1.csv", sep="|")
### 2페이지
ageData2 = pd.read_csv("./dataset/fixed_홍대_age_2.csv", sep="|")
### 3페이지
ageData3 = pd.read_csv("./dataset/fixed_홍대_age_3.csv", sep="|")
### 4페이지
ageData4 = pd.read_csv("./dataset/fixed_홍대_age_4.csv", sep="|")
### 5페이지
ageData5 = pd.read_csv("./dataset/fixed_홍대_age_5.csv", sep="|")
### 6페이지
ageData6 = pd.read_csv("./dataset/fixed_홍대_age_6.csv", sep="|")

### 데이터 병합
merge12 = pd.merge(ageData1, ageData2, how="outer", on=None)
merge34 = pd.merge(ageData3, ageData4, how="outer", on=None)
merge56 = pd.merge(ageData5, ageData6, how="outer", on=None)
merge1234 = pd.merge(merge12,merge34, how="outer", on=None)
mergeData5 = pd.merge(merge1234,merge56, how="outer", on=None)

# 중복 제거
mergeData5.drop_duplicates(inplace=True, ignore_index=True)

In [20]:
mergeData5.to_csv("./dataset/fixed_홍대_Age.csv", mode="w", encoding='utf8', sep='|', line_terminator='\n', index=False)

### 6) 지역별 병합

#### 6)-1 Age 병합

In [21]:
### CSV 파일을 읽어 DataFrame 변수에 저장하기
### 건대
ageDataGd = pd.read_csv("./dataset/fixed_건대_Age.csv", sep="|")
### 신림
ageDataSl = pd.read_csv("./dataset/fixed_신림_Age.csv", sep="|")
### 신사
ageDataSs = pd.read_csv("./dataset/fixed_신사_Age.csv", sep="|")
### 혜화
ageDataHh = pd.read_csv("./dataset/fixed_혜화_Age.csv", sep="|")
### 홍대
ageDataHd = pd.read_csv("./dataset/fixed_홍대_Age.csv", sep="|")

In [22]:
mergeGdSl = pd.merge(ageDataGd, ageDataSl, how="outer", on=None)
mergeGdSl

,name,tenCen,twoCen,threeCen,fourCen,fiveCen,sixCen,womanRatio,manRatio
0,972Bar,47.798333,81.895667,34.080667,23.921667,22.567667,16.666667,50,50
1,daughter,60.979000,82.769333,52.140333,38.466000,29.843000,21.163000,64,36
2,감성타코 건대점,58.620000,76.107667,51.874667,45.262667,34.982333,26.637000,53,47
3,경성양육관,23.258824,49.534588,41.462588,38.193176,29.228000,25.891529,46,54
4,고기굽는놈,6.938571,36.797714,20.247714,14.838286,6.939714,4.928857,42,58
...,...,...,...,...,...,...,...,...,...
488,카페 수베 SUBE,93.942500,95.977000,69.708500,61.836500,25.000000,25.000000,55,45
489,카페드발렌느,25.000000,95.882000,83.787500,69.188500,25.000000,25.000000,48,52
490,한마음정육식당 서울 신림점,25.000000,84.165500,85.684000,77.930500,58.514000,25.000000,45,55
491,홍콩반점0410 신림역점,70.726000,95.613500,82.304000,73.195000,56.010500,25.000000,46,54
492,흥부보쌈,25.000000,92.612000,83.099000,73.571000,67.910000,25.000000,52,48

In [23]:
mergeSsHh = pd.merge(ageDataSs, ageDataHh, how="outer", on=None)
mergeSsHh

,name,tenCen,twoCen,threeCen,fourCen,fiveCen,sixCen,womanRatio,manRatio
0,강남면옥 본점,30.110500,83.354000,92.767500,90.786500,81.763500,85.987500,47,53
1,까폼,30.490333,81.239667,72.147667,55.336667,41.467333,36.028000,55,45
2,꽁티드툴레아,25.191000,76.964333,55.829333,32.520667,25.346667,9.893667,72,28
3,뉴만두집,23.545333,69.313000,74.358000,74.550333,76.350000,67.634667,55,45
4,뉴욕라츠오베이글스,32.328235,52.902588,44.844941,37.521176,30.593412,24.769412,63,37
...,...,...,...,...,...,...,...,...,...
540,피자헤븐 종로성대점,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10,10
541,한국관,25.000000,96.453000,25.000000,57.802000,25.000000,25.000000,54,46
542,함.무바라 닭도리탕,25.000000,96.453000,25.000000,57.802000,25.000000,25.000000,54,46
543,혜화동콩집,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10,10
544,혜화몰트,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10,10

In [24]:
mergeAge = pd.merge(mergeGdSl, mergeSsHh, how="outer", on=None)
mergeAge

,name,tenCen,twoCen,threeCen,fourCen,fiveCen,sixCen,womanRatio,manRatio
0,972Bar,47.798333,81.895667,34.080667,23.921667,22.567667,16.666667,50,50
1,daughter,60.979000,82.769333,52.140333,38.466000,29.843000,21.163000,64,36
2,감성타코 건대점,58.620000,76.107667,51.874667,45.262667,34.982333,26.637000,53,47
3,경성양육관,23.258824,49.534588,41.462588,38.193176,29.228000,25.891529,46,54
4,고기굽는놈,6.938571,36.797714,20.247714,14.838286,6.939714,4.928857,42,58
...,...,...,...,...,...,...,...,...,...
1033,피자헤븐 종로성대점,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10,10
1034,한국관,25.000000,96.453000,25.000000,57.802000,25.000000,25.000000,54,46
1035,함.무바라 닭도리탕,25.000000,96.453000,25.000000,57.802000,25.000000,25.000000,54,46
1036,혜화동콩집,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10,10
1037,혜화몰트,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10,10

In [25]:
mergeAgeTotal = pd.merge(mergeAge, ageDataHd, how="outer", on=None)

In [26]:
mergeAgeTotal.to_csv("./dataset/totalAgeData.csv", mode="w", encoding='utf8', sep='|', line_terminator='\n', index=False)

In [27]:
mergeAgeTotal

,name,tenCen,twoCen,threeCen,fourCen,fiveCen,sixCen,womanRatio,manRatio
0,972Bar,47.798333,81.895667,34.080667,23.921667,22.567667,16.666667,50,50
1,daughter,60.979000,82.769333,52.140333,38.466000,29.843000,21.163000,64,36
2,감성타코 건대점,58.620000,76.107667,51.874667,45.262667,34.982333,26.637000,53,47
3,경성양육관,23.258824,49.534588,41.462588,38.193176,29.228000,25.891529,46,54
4,고기굽는놈,6.938571,36.797714,20.247714,14.838286,6.939714,4.928857,42,58
...,...,...,...,...,...,...,...,...,...
1336,홍대 조폭 떡볶이,41.877882,47.499529,41.344471,41.639294,24.658118,18.780235,52,48
1337,홍대공감,31.011667,81.910000,51.587000,38.511667,29.024000,23.114333,47,53
1338,홍마떡 홍대본점,45.816235,51.043529,34.479294,31.301176,21.659294,16.940000,57,43
1339,후통,45.289647,50.893176,33.595529,29.094118,24.824471,23.301647,53,47
1340,훌리오 홍대점,60.981000,98.188500,85.564500,70.374000,51.883000,25.000000,53,47

## 2-2) fixed_지역_Category 병합

### 1) 건대

In [28]:
### CSV 파일을 읽어 DataFrame 변수에 저장하기
### 1페이지
categoryData1 = pd.read_csv("./dataset/fixed_건대_Category_1.csv", sep="|")
### 2페이지
categoryData2 = pd.read_csv("./dataset/fixed_건대_Category_2.csv", sep="|")
### 3페이지
categoryData3 = pd.read_csv("./dataset/fixed_건대_Category_3.csv", sep="|")
### 4페이지
categoryData4 = pd.read_csv("./dataset/fixed_건대_Category_4.csv", sep="|")
### 5페이지
categoryData5 = pd.read_csv("./dataset/fixed_건대_Category_5.csv", sep="|")
### 6페이지
categoryData6 = pd.read_csv("./dataset/fixed_건대_Category_6.csv", sep="|")

### 데이터 병합
merge12 = pd.merge(categoryData1, categoryData2, how="outer", on=None)
merge34 = pd.merge(categoryData3, categoryData4, how="outer", on=None)
merge56 = pd.merge(categoryData5, categoryData6, how="outer", on=None)
merge1234 = pd.merge(merge12,merge34, how="outer", on=None)
mergeData1 = pd.merge(merge1234,merge56, how="outer", on=None)

# 중복 제거
mergeData1.drop_duplicates(inplace=True)

mergeData1.to_csv("./dataset/fixed_건대_Category.csv", mode="w", encoding='utf8', sep='|', line_terminator='\n', index=False)

### 2) 신림

In [29]:
### CSV 파일을 읽어 DataFrame 변수에 저장하기
### 1페이지
categoryData1 = pd.read_csv("./dataset/fixed_신림_Category_1.csv", sep="|")
### 2페이지
categoryData2 = pd.read_csv("./dataset/fixed_신림_Category_2.csv", sep="|")
### 3페이지
categoryData3 = pd.read_csv("./dataset/fixed_신림_Category_3.csv", sep="|")
### 4페이지
categoryData4 = pd.read_csv("./dataset/fixed_신림_Category_4.csv", sep="|")

### 데이터 병합
merge12 = pd.merge(categoryData1, categoryData2, how="outer", on=None)
merge34 = pd.merge(categoryData3, categoryData4, how="outer", on=None)

mergeData1 = pd.merge(merge12,merge34, how="outer", on=None)

# 중복 제거
mergeData1.drop_duplicates(inplace=True)

mergeData1.to_csv("./dataset/fixed_신림_Category.csv", mode="w", encoding='utf8', sep='|', line_terminator='\n', index=False)

### 3) 신사

In [30]:
### CSV 파일을 읽어 DataFrame 변수에 저장하기
### 1페이지
categoryData1 = pd.read_csv("./dataset/fixed_신사_Category_0.csv", sep="|")
### 2페이지
categoryData2 = pd.read_csv("./dataset/fixed_신사_Category_1.csv", sep="|")
### 3페이지
categoryData3 = pd.read_csv("./dataset/fixed_신사_Category_2.csv", sep="|")
### 4페이지
categoryData4 = pd.read_csv("./dataset/fixed_신사_Category_3.csv", sep="|")
### 5페이지
categoryData5 = pd.read_csv("./dataset/fixed_신사_Category_4.csv", sep="|")


### 데이터 병합
merge12 = pd.merge(categoryData1, categoryData2, how="outer", on=None)
merge34 = pd.merge(categoryData3, categoryData4, how="outer", on=None)

merge1234 = pd.merge(merge12,merge34, how="outer", on=None)
mergeData1 = pd.merge(merge1234,categoryData5, how="outer", on=None)

# 중복 제거
mergeData1.drop_duplicates(inplace=True)

mergeData1.to_csv("./dataset/fixed_신사_Category.csv", mode="w", encoding='utf8', sep='|', line_terminator='\n', index=False)

### 4) 혜화

In [31]:
### CSV 파일을 읽어 DataFrame 변수에 저장하기
### 1페이지
categoryData1 = pd.read_csv("./dataset/fixed_혜화_Category_1.csv", sep="|")
### 2페이지
categoryData2 = pd.read_csv("./dataset/fixed_혜화_Category_2.csv", sep="|")
### 3페이지
categoryData3 = pd.read_csv("./dataset/fixed_혜화_Category_3.csv", sep="|")
### 4페이지
categoryData4 = pd.read_csv("./dataset/fixed_혜화_Category_4.csv", sep="|")
### 5페이지
categoryData5 = pd.read_csv("./dataset/fixed_혜화_Category_5.csv", sep="|")
### 6페이지
categoryData6 = pd.read_csv("./dataset/fixed_혜화_Category_6.csv", sep="|")

### 데이터 병합
merge12 = pd.merge(categoryData1, categoryData2, how="outer", on=None)
merge34 = pd.merge(categoryData3, categoryData4, how="outer", on=None)
merge56 = pd.merge(categoryData5, categoryData6, how="outer", on=None)
merge1234 = pd.merge(merge12,merge34, how="outer", on=None)
mergeData1 = pd.merge(merge1234,merge56, how="outer", on=None)

# 중복 제거
mergeData1.drop_duplicates(inplace=True)

mergeData1.to_csv("./dataset/fixed_혜화_Category.csv", mode="w", encoding='utf8', sep='|', line_terminator='\n', index=False)

### 5) 홍대

In [32]:
### CSV 파일을 읽어 DataFrame 변수에 저장하기
### 1페이지
categoryData1 = pd.read_csv("./dataset/fixed_홍대_Category_1.csv", sep="|")
### 2페이지
categoryData2 = pd.read_csv("./dataset/fixed_홍대_Category_2.csv", sep="|")
### 3페이지
categoryData3 = pd.read_csv("./dataset/fixed_홍대_Category_3.csv", sep="|")
### 4페이지
categoryData4 = pd.read_csv("./dataset/fixed_홍대_Category_4.csv", sep="|")
### 5페이지
categoryData5 = pd.read_csv("./dataset/fixed_홍대_Category_5.csv", sep="|")
### 6페이지
categoryData6 = pd.read_csv("./dataset/fixed_홍대_Category_6.csv", sep="|")

### 데이터 병합
merge12 = pd.merge(categoryData1, categoryData2, how="outer", on=None)
merge34 = pd.merge(categoryData3, categoryData4, how="outer", on=None)
merge56 = pd.merge(categoryData5, categoryData6, how="outer", on=None)
merge1234 = pd.merge(merge12,merge34, how="outer", on=None)
mergeData1 = pd.merge(merge1234,merge56, how="outer", on=None)

# 중복 제거
mergeData1.drop_duplicates(inplace=True)

mergeData1.to_csv("./dataset/fixed_홍대_Category.csv", mode="w", encoding='utf8', sep='|', line_terminator='\n', index=False)

#### 6)-2 Category 병합

In [33]:
### CSV 파일을 읽어 DataFrame 변수에 저장하기
### 건대
categoryDataGd = pd.read_csv("./dataset/fixed_건대_Category.csv", sep="|")
### 신림
categoryDataSl = pd.read_csv("./dataset/fixed_신림_Category.csv", sep="|")
### 신사
categoryDataSs = pd.read_csv("./dataset/fixed_신사_Category.csv", sep="|")
### 혜화
categoryDataHh = pd.read_csv("./dataset/fixed_혜화_Category.csv", sep="|")
### 홍대
categoryDataHd = pd.read_csv("./dataset/fixed_홍대_Category.csv", sep="|")

In [34]:
mergeGdSl = pd.merge(categoryDataGd, categoryDataSl, how="outer", on=None)
mergeSsHh = pd.merge(categoryDataSs, categoryDataHh, how="outer", on=None)
mergeCategory = pd.merge(mergeGdSl, mergeSsHh, how="outer", on=None)
mergeCategoryTotal = pd.merge(mergeCategory, categoryDataHd, how="outer", on=None)

In [35]:
mergeCategoryTotal.to_csv("./dataset/totalCategoryData.csv", mode="w", encoding='utf8', sep='|', line_terminator='\n', index=False)

#### 6)-3 Age + Category 병합

In [36]:
len(mergeAgeTotal)

1341

In [37]:
len(mergeCategoryTotal)

1344

In [38]:
mergeAreaTotal = pd.merge(mergeAgeTotal, mergeCategoryTotal, how="inner", on="name")
set(mergeAreaTotal.name)

{'건대스시',
 '기류',
 '초이 다이닝',
 '스테이크 슈퍼',
 '도키도키',
 '바나바나',
 '슬로우캘리 연남본점',
 '스아게',
 '건대 숯불부자곱창',
 '카멜커피',
 '파씨오네',
 '애견동반식당 사랑봄',
 '참숯벽돌집',
 '부탄츄 대학로점',
 '강남면옥 본점',
 '더 클래식 500 라구뜨',
 '갓포아키 도산공원점',
 '압구정 곱창',
 '갸우뚱',
 '멘야준',
 '라쿤카페 꾸꾸네',
 '메종드쁘띠푸르 커먼그라운드점',
 '양평동 장군집 신림역점',
 '깔리',
 '육수당 대학로점',
 '질서정연',
 '재즈라운지',
 '냥토피아 카페앤샵',
 '연남주막1987',
 '화양주막',
 '달리181 신림점',
 '금성회관 합정본점',
 '티랩제이',
 '어리라운지',
 '빙플',
 '미티',
 '어른이대공원',
 '얼땅쟈',
 'Poke all day 포케&샐러드 신사점',
 '닭으로가 압구정본점',
 '남대문황금족발 대학로점',
 '혜화동콩집',
 '더페이머스버거 압구정점',
 '조개집',
 '마초쉐프 건대점',
 '은호초밥 건대본점',
 '일리카페 대학로점',
 '감성타코 신사점',
 'Ginos NY Pizza 압구정점',
 '라화쿵부 건대점',
 '다운타우너 청담',
 '오봉집 건대점',
 '황해도빈대떡',
 '구들',
 '삼꾸미집 건대점',
 '샌드커피 논탄토 신사',
 '카페코지 성대점',
 'PIT A PAT',
 '라라맥주',
 '더페이머스버거 홍대점',
 'coffee urban',
 '카페22',
 '972Bar',
 '슬로우타코',
 '포레스트 청담',
 '서울러',
 '까페달달스콘',
 '소진담 신사점',
 '더다이닝랩',
 '커피빈 혜화역점',
 '랑데자뷰 홍대점',
 '파시0914',
 '우텐더',
 '아찌떡볶이',
 '엘파소',
 '육몽 홍대본점',
 '콴안다오',
 '대한맥주집 대학로점',
 '피터팬스테이크',
 '이삭토스트 서울성균관대점',
 '진저피그',
 '구구향훠궈 건대직영점',
 '지강낙곱새 압구정본점',
 '아뻬 서울',
 '버거파크',
 '화기애애 건대본점',
 '카쿠시타',
 '혜화몰트',
 '달꼬미',
 '투썸플레이스 혜화로타리점',
 '육회한연어 건대점',
 '얀 쿠브레',
 '꼬꼬아찌숯불치킨 신림점',
 '카페김쌤',
 '우시야 본점',
 '샤오당쟈마라탕 건대점',
 'BBQ치킨 명륜점',
 '뼈닥스감자탕',
 '창경궁로240',
 '스케줄합정',
 '샐러드 브라더스',
 '테이커테이블',
 '카이센동 우니도',
 '리밀커피&밀리',
 '조선시대',
 '기꾸스시',
 '비스트로주라',
 '달마시안',
 '썬키친',
 '목탄장 도산점',
 '춘 참치포차',
 '오스테리아 꼬또 압구정점',
 '방선생웃음밥상',
 '치킨앤카레군',
 '한촌설렁탕 건대입구역점',
 '클랩피자 청담점',
 '도쿄등심 압구정점',
 '루프탑 G 길리건스',
 '무교동 유정낙지 대학로점',
 '토라비',
 '호호식당 도산공원',
 '코코로식탁',
 '펍매드',
 '묵전',
 '빠레뜨한남 가로수길점',
 '대학로쭈왕쭈꾸미',
 '건대족발',
 '돈천동식당',
 '와인어클락 신림점',
 '장다리곱창',
 '청산손만두',
 '춘천집',
 '살롱드곱떡',
 '아날로그가든',
 '배스킨라빈스 신림남부점',
 '진아춘',
 '최신족발',
 '오프 OFF',
 '마마그릭 성대점',
 '래빗홀 버거컴퍼니',
 '혜화수산 혜화본점',
 '처비버디',
 '진진',
 '홍야동양꼬치 훠궈무한리필',
 '연남족발1987',
 '고모네 식당',
 '송쉐프',
 '오마카세 오사이초밥 홍대점',
 '동숭숯불갈비',
 '맛의정원',
 '제주탐하리 신림점',
 '바오쯔',
 '안주나라',
 '홍마떡 홍대본점',
 '역전할머니맥주 대학로점',
 '쿠시노주방',
 '지아니스나폴리 가로수길점',
 'WALPA',
 '르쁘띠푸 홍대본점',
 '미분당',
 '웜브라운 베이커리카페',
 '노브랜드버거 대학로점',
 '네기다이닝라운지',
 '신림다락',
 '새로이',
 '혜화 골목냉면',
 '포항막회',
 '감성타코 홍대점',
 '연교',
 '매운향솥 마라탕 마라샹궈',
 '리틀넥 청담',
 '옥동식',
 '더피자보이즈 합정본점',
 '브런치가',
 '디크루즈',
 '온리고',
 '아리차이',
 '신텐',
 '깐베이 혜화본점',
 '키친마이야르',
 '환원당',
 '어촌생선구이',
 '윈차.성대아지트',
 '멘쇼',
 '부탄츄 건대점',
 '고쿠텐 대학로점',
 '도쿄빙수 건대점',
 '신미식당',
 '담미온 대학로점',
 '카페드라이',
 '제순식당 대학로직영점',
 '오엔',
 '보타르가',
 '맘스터치 종로대학로점',
 '훠궈나라 대학로본점',
 '아메리칸트레이 건대입구점',
 '온돌 합정점',
 '하이디라오 대학로점',
 '고래가주 신림점',
 '정돈 홍대점',
 '메이빌 본점',
 '모지니',
 '어썸로즈',
 '압구정제주집',
 '고반식당 가로수길점',
 '푸짐한식당',
 '일편등심',
 '비에이치테이블',
 '을지다락 가로수길',
 '산리오 러버스 클럽',
 '낭풍김치찌개',
 '쪼리375',
 '이치서울',
 '아마 건대점',
 '안다미로 팬케이크',
 '동화',
 '홍콩반점0410 신림역점',
 '손칼국수',
 '평안도 상원냉면',
 '페르시안궁전',
 '장 스테이크',
 '고베규카츠 건대점',
 'MIXX LOUNGE BAR',
 '소적두 압구정점',
 '지로우 라멘',
 '카페 아뮈제 도산',
 '매드쉐프 떡볶이',
 '물고기초밥',
 '어메이징농카이',
 '모츠커피',
 '모녀',
 '뉴욕아파트먼트 홍대점',
 '마시타야',
 '닝교초식당 홍대점',
 'daughter',
 '까폼',
 '시샤디오엠',
 '시티버거 신림점',
 '환식당',
 '맥썸 대학로점',
 '감성타코 건대점',
 '우와',
 '60년전통신촌황소곱창 건대직영점',
 '안다즈서울강남 조각보',
 '고망고 건대점',
 '나성타코',
 '타코앤칠리',
 '북카페세모',
 '현초밥',
 '아리가또맘마 대학로점',
 '냉장고 합정점',
 '호야초밥참치 본점',
 '멘야하나비 합정점',
 '로젤',
 '모크',
 '아오스요거트',
 '시골장칼국수',
 '혜화양육관',
 '카페 마피',
 '혜화도담',
 '다레젤라또 연남점',
 '스타벅스 신림타임스트림점',
 '연남물갈비',
 '창화당 대학로점',
 '후룩뽕',
 '스페이스엠',
 '합정공감',
 '베어스덴베이커리',
 '홍대 조폭 떡볶이',
 '키마스시 청담',
 '춘리마라탕 구의점',
 '개화기요정',
 '미나리생삼겹',
 '키쉬미뇽 대학로점',
 '혜화시장',
 '스시 이토',
 '식물학',
 '송림식당',
 '이름없는파스타 연남점',
 '청초수물회 강남점',
 '오감만족',
 '샐러디 성대입구점',
 '기막힌포차',
 '코테츠',
 'EGO',
 '13-Jul',
 '머노까머나 대학로점',
 '걸작떡볶이치킨 서울대학로점',
 '하이디라오 건대지점',
 '맛깔1987',
 '남한강민물매운탕',
 '리마크스',
 '깃털',
 '신림동 피자집',
 '스페이스플라토',
 '명쭈3',
 '쩐호우 양꼬치&샤브샤브',
 '카페더메모리',
 '훌리오 홍대점',
 '하카타분코',
 '심마니',
 '서울230',
 '유캔하이x육미안',
 '카타코토카페',
 '돕감자탕전문점',
 '엘빈',
 '마뇨떡볶이',
 '꼬치오뎅',
 '오하운 크레페 샌드위치 신림점',
 '드로잉레시피',
 '지리산토종흑돼지구이',
 '오도레D',
 '금별맥주 홍대직영점',
 '릴랙스 인 다운타운',
 '이가산시도삭면',
 '카페 마당',
 '라그랑우스',
 '피자보이시나 대학로점',
 '이치류 홍대본점',
 '낙원스낵 건대점',
 '바이미디저트',
 '애니오케이션 청담',
 '우마담',
 '달팽이카페',
 '미도인 건대',
 '뉴만두집',
 '루체에살레',
 '손오공마라탕 동교동점',
 '발빠닭 건대점',
 '가츠시 건대점',
 '소이연남마오',
 '미분당 신사점',
 '프레즈드로이',
 '이치에',
 '마르르 본점',
 '사이공본가 신림점',
 '이리에라멘',
 '그리네',
 '아웃닭 건대점',
 '샤블리',
 '다다미 소바',
 '방앗간',
 '옥이모깻잎떡볶이',
 '키움초밥',
 '온다',
 '양철지붕',
 '후토',
 '은식당',
 '키햐아 혜화점',
 '아도레 쿠치나',
 '훈춘양꼬치',
 '크래프트 혜화',
 '지하102호',
 '찰리삼촌 포장마차',
 '옛날농장 대학로점',
 '개미식당',
 '고엔',
 '이우',
 '미미면가',
 '김가네김밥 대학로본점',
 '불티나는 전집',
 '카페 공명',
 '오리지널팬케이크하우스 가로수길점',
 '스페인클럽 가로수본점',
 'OBPC 연남본점',
 '심양 청담본점',
 '평화김해뒷고기 건대점',
 '싸다김밥 신림역점',
 '일송칼국수',
 '홍대씨부엉',
 '선남sea',
 '도 도넛',
 '신림황소곱창',
 '프루츠대학로점',
 '중경식객 건대점',
 '만끽',
 '매화반점',
 '장미술상 건대점',
 '혜화돌쇠아저씨',
 '쮸즈',
 '아날로그키친',
 '누데이크 하우스 도산',
 '석관동떡볶이 대학로점',
 '랑빠스81',
 '성수완당 본점',
 '대흥양다리바베큐 건대점',
 '시추안하우스 압구정점',
 '심야식당 하스',
 '츠나토리',
 '칙피스 신사점',
 '육성회비',
 '은비스브레드 건국대',
 '노랑통닭 대학로점',
 '펠트커피 도산공원점',
 'umoae',
 '잇타이',
 '조용한주택',
 '츠케루',
 '서유기마라탕&훠궈 대학로점',
 '딱지치기',
 '스시오 블랙컨테이너',
 '쉐이크쉑 청담점',
 '오마카세 오사이초밥 건대본점',
 '홍대원조통골뱅이',
 '고트델리 압구정',
 '랑데자뷰 건대점',
 '쟁반집8292 혜화점',
 '칸틴',
 '조용한저녁',
 '알디프 티 바',
 '가마로',
 '도산맘마미아',
 '끼니공방 건대',
 '명륜포차',
 '뉴웨이브서울',
 '레코드피자',
 '봉심식당',
 '디저트문',
 '산더미불고기',
 '상수동 카스티야',
 '마로화적',
 '칸다소바',
 '홍미닭발 신사본점',
 '사브서울',
 '미가할매집',
 '꽁티드툴레아',
 '막이오름 건대점',
 '골드피쉬 딤섬퀴진',
 '릴리마를렌',
 '해란양꼬치',
 '천지주점',
 '오늘와인한잔 대학로점',
 '고시고시',
 '두끼 신림역점',
 '포36거리 홍대점',
 '시나모롤 스위트카페',
 '병천아우내순대국',
 '두둑한샤브칼국수 신림점',
 '로운 샤브샤브 홍대점',
 '메가커피 대학로중앙점',
 '보리보리옥선이시골밥상',
 '버거앤프라이즈 신대방역점',
 '소보로',
 '멘야산다이메 본점',
 '박재성의 메밀숯불닭갈비',
 '샌드커피 논탄토 연남',
 '탐앤탐스 탐스커버리 건대점',
 '야키토리 나루토 오모테나시',
 '김북순큰남비집 신사본점',
 '써브웨이 성대점',
 '상수주택',
 '대곱창 건대점',
 '치즈룸 안다즈',
 '카와카츠 합정점',
 '맥덕스',
 '연옥양꼬치',
 '고기굽는놈',
 '페이브베이커리 대학로점',
 '도림항',
 '마이쏭',
 '서피동파',
 '화화담 대학로',
 '갓포 히미츠 X 뱅가드 하이파이 뮤직 라운지',
 '동교해물',
 '소코아 홍대점',
 '식탁의목적',
 '저스트단비 홍대점',
 '219레스토랑',
 '아우어베이커리 가로수길점',
 '명분',
 '동무밥상',
 '봉용파절이삼겹살',
 '노룬산분식',
 '수완카페앤베이커리',
 '우리 여기서만나',
 '춘천골 숯불 닭갈비',
 '홍콩포차',
 '해피니스디저트',
 '남산호랭이',
 '중화요리 팔공',
 '플록',
 '심야식당 하리',
 '우리집팔당닭발 신림점',
 '푸하하크림빵',
 '샐러드박스 혜화점',
 '은행골 대학로점',
 '정글포차',
 '오버트 합정',
 '에스프레소바 투또톤토',
 '카츠바이콘반',
 '다발김치찌개 대학로점',
 '따로집',
 '연길왕꼬치 건대점',
 '겐로쿠우동 건대직영점',
 '뱃고동',
 '배터리88 홍대점',
 '베이커리 앤 커피 by 쿤달 압구정로데오 플래그쉽스토어',
 '그릭데이 건대점',
 '흥부보쌈',
 '똥개네퓨전포차',
 '압구정하루',
 '환이네갈비살 2호점',
 '산촌신쭈꾸미 서울대점',
 '호호식당 대학로',
 '미가라멘 대학로점',
 '맥도날드 성균관대점',
 '호맥 합정점',
 '등촌샤브칼국수 자양점',
 '윤서울',
 '중화복춘 공원',
 '스시사소우',
 '도쿄스테이크 건대점',
 '경주식당',
 '루프탑어반비치',
 '최가네버섯샤브매운탕칼국수',
 '구움동',
 '스미비부타동',
 '팬더스윗 건대점',
 '도리안그레이',
 'JASE',
 '배스킨라빈스 대학로',
 '호족반',
 '카페 빵쌤 대학로점',
 '깡통닭갈비',
 '하이디라오 홍대점',
 '마포곱창타운',
 '니꾸킹버거',
 '요비',
 '만 성 찬 팅',
 '리춘시장 대학로CGV점',
 '플레이버스 바이 바프',
 '코노미',
 '이양권반상',
 '불떡클럽 연남본점',
 '모파상',
 '대막',
 '벽돌해피푸드 압구정점',
 '미우',
 '롯데리아혜화점',
 '라공방 신림점',
 '술이남',
 '미도인 홍대',
 '천향마라탕',
 '김밥천국 건대2호점',
 '온천집 스키야키',
 '공차 대학로점',
 'CUCINA843',
 '밍지 황먼지 찜닭',
 '벙커컴퍼니 압구정점',
 '도프피자베이커스 홍대점',
 '도도곱창 건대본점',
 '청년닭발1987',
 '1940 금문',
 '온기정',
 '함루 건대점',
 '이끼롤까스 가로수길점',
 '에이커스',
 '강경수참치',
 '태태삼겹 건대점',
 '김씨육면',
 '긴자료코 본점',
 '마가렛리버',
 '오리지널시카고피자 홍대본점',
 '또오리',
 '쑤담샤브샤브',
 '더피자보이즈 홍대입구역점',
 '미로식당',
 '양밍위 황먼지 미판 건대본점',
 '센꼬치',
 '돈주는남자 본점',
 '생생조개',
 '홍스쭈꾸미 홍대본점',
 '뉴오더클럽 연남',
 '카페랑솜',
 '이미커피',
 '송화산시도삭면 2호점',
 '카페그라쎄',
 '우성식당',
 '백곰막걸리',
 '가부 혜화점',
 '아웃나우 홍대',
 '제임스시카고피자 홍대본점',
 '육식주',
 '폼앤노말',
 '랑데자뷰 대학로점',
 '메종 사우스케이프',
 '락희돈',
 '카페노티드 연남',
 '명봉반점',
 '천미미',
 'SADDLER HAUS',
 '다운타우너 연남',
 '퍼프타운 건대점',
 '수해복마라탕 서울대점',
 '히메시야',
 '새맛식당',
 '송몽',
 '삼 원 샏',
 '우마이도 건대점',
 '청화원',
 '콘유',
 '혜화칼국수',
 '솔솥 청담점',
 '낮부엉이',
 'PEACH',
 '구스타파스',
 '콜린',
 '카페 그자체 베이커리',
 '피오니',
 '포인트',
 '흐릇',
 '마사 타코',
 '고베규카츠 신림점',
 '타프',
 '메리고라운드 스테이크',
 '일일향 압구정1호점',
 '1984',
 '우동 카덴',
 '만경상회 건대본점',
 '마레스타',
 '홍도초밥',
 '불꽃닭강정',
 '박용석스시',
 '황곱',
 '서양집',
 '광명대창집 홍대점',
 '합정광안리',
 '호파스타 건대점',
 'Lu307 이자카야',
 '막걸리싸롱',
 '랜디스도넛 가로수길점',
 '다이닝 목로',
 '김영자나주곰탕 본점',
 '뮤지드아트',
 '솔나무길된장예술',
 '또보겠지떡볶이집 호호시스터점',
 '카페 아르무아',
 '홍대공감',
 '바른면집 건대점',
 '소각',
 '트리안 건대점',
 '대원갈비',
 '다이칸야마키친',
 '스테이크어스 건대점',
 '삼촌네',
 '도단집별관',
 '당옥',
 '대봉집 신사본점',
 '핀치브런치바',
 '혜화곱창',
 '돼지명가',
 '수염',
 '혜화달손만두',
 '얼오브샌드위치 압구정로데오점',
 '뮤즈온',
 '재팔이네닭발 대학로점',
 '건대연어덮밥',
 '포포브레드',
 '경성양꼬치 혜화점',
 '샐러디 합정역점',
 '오후홍콩 대학로점',
 '스시노칸도 타임스트림점',
 '공상온도',
 '또순이원조순대 본점',
 '옥루몽 어린이대공원점',
 '문성골족발집',
 '비파티세리',
 '설레임삼겹살',
 '봉구비어 대학로1호점',
 '카츠 오도',
 '명륜건강원',
 '고향양꼬치',
 '반티엔야오 카오위 건대점',
 '일품',
 '심플리타이 합정점',
 '카페 오알피하우스',
 '푸오커스',
 '올바른김밥',
 '무니',
 '대홍샤브샤브',
 '정면',
 '유가네닭갈비 신림점',
 '야키토리 나루토',
 '바빌리안테이블',
 '오포케',
 '한올',
 '서울집 신림직영점',
 '핫쵸',
 '미드타운',
 '고기꾼김춘배 홍대본점',
 '혼가츠 대학로점',
 '어사출또 신림역점',
 '엘루이피자',
 '고쿠텐 홍대점',
 '신림춘천집 본점',
 '캠핑키친',
 '틈새라면대학로점',
 '이공오도씨',
 '레브',
 '오름',
 '마망갸또 신사점',
 '팔로피자',
 '꽈페 홍대점',
 '서교주담',
 '씬챠호',
 '한촌설렁탕 대학로점',
 '화양과자',
 '카페 노티드 청담',
 '건대우동집',
 '다원식당',
 '온달집 본점',
 '블랑누아',
 '서울대학교 호암교수회관',
 '육지',
 '볼피노',
 '엉터리생고기 대학로점',
 '밀리언버거',
 '겐로쿠우동 대학로점',
 '이덕복인',
 '을지다락 도산공원',
 '미쁘동',
 '맥파이앤타이거 신사티룸',
 '원조부안집 신대방점',
 '100년설렁탕 대학로점',
 '신촌황소곱창 신림직영점',
 '카페첫만남',
 '포크포크 건대직영점',
 '미정국수0410 대학로점',
 '정통집 대학로점',
 '이태리부대찌개 건대점',
 '알바이신',
 '동학',
 '테이스티버거',
 '설빙 건대지점',
 '소구미 대학로직영점',
 '헤이커피',
 '오이지 대학로',
 '유미카츠 건대점',
 '심퍼티쿠시 가로수길점',
 '보르도',
 '연어로만 혜화점',
 '한마음정육식당 서울 신림점',
 '동네별장',
 '무던',
 '블랙아웃커피',
 '부뚜막',
 '캘리포니아 도넛 클럽 & 비라티오 홍대점',
 '삼삼당',
 '또보겠지떡볶이집 붕붕허니비점',
 '연남다방',
 '서북면옥',
 '환이네갈비살 본점',
 '준성이네',
 '텔러스 9.5',
 '백년불고기물갈비 신림점',
 '교동집',
 '연남어부',
 '임프레션',
 '사쿠라테이엔 합정점',
 '라헬의부엌 홍대점',
 '터틀힙',
 '고망고 연남점',
 'MouseRabbit',
 '포스터리 베이커',
 '포크랜드피케이월드직영점',
 '카페달달',
 '효계',
 '열매제과점',
 '심양 홍대점',
 '젤라띠젤라띠',
 '도단집',
 '모던오뎅',
 '더핏짜 본점',
 '롤링파스타 건대지점',
 '엽전식당 본점',
 '함지박치즈등갈비 신림본점',
 '프롬하츠커피 대학로점',
 '바스버거 연남점',
 '북경반점',
 '삼원가든',
 '비스트로큐슈',
 '아웃백스테이크하우스 건대스타시티점',
 '선셋스위밍 샌드위치',
 '지기네불닭발 본점',
 '버터밀크',
 '혼신꼬치',
 '1989버거스탠드 연남',
 '난바다스시',
 '초밥짓는원숭이본점',
 '예담밥상',
 '33떡볶이 대학로점',
 '카페704호',
 '바랗',
 '송화산시도삭면',
 '워커비',
 '야스미',
 '튜토리얼',
 '상군이네고깃집',
 '카페드발렌느',
 '청춘등판',
 '낫컴플리트',
 '신미경홍대닭갈비',
 '빠넬로',
 '한식당',
 '최가커피',
 '몽주방',
 '비스까미노',
 '합정조이떡볶이',
 '리차드하우스 연남',
 '디저트로이',
 '에도마에텐동하마다 홍대점',
 '마녀주방 대학로점',
 '한추',
 '공미학 마포홍대점',
 'The낙원양꼬치 2호점',
 '뿔난황소곱창 건대본점',
 '찡쪽바',
 '킹스커피 24시 카페',
 '빈대떡신사',
 '모센즈스위트 신사점',
 '길버트버거앤프라이즈',
 '플르서라구뜨',
 '오복수산 도산',
 '마당족발',
 '생각보다맛있는집 신림점',
 '남도',
 '하카타나카',
 '솔솥 대학로점',
 '뎁짜이',
 '우화등선',
 '롸카두들 내쉬빌 핫치킨 압구정',
 '솔솥 연남점',
 'Bowl Room',
 '더페이머스버거 신사점',
 '카페 예능',
 '느린마을양조장 홍대점',
 '웃사브',
 '순곱이네 건대점',
 '부추곱창 대학로점',
 '오맥',
 '윌비 가로수길점',
 '흥에취한범 건대점',
 '60계치킨 서울대학로점',
 '뚜레쥬르 카페대학로점',
 'Bread rum',
 '스시오 건대점',
 '한남베르그 도산',
 '옛마을 구로디지털역점',
 '피자헤븐 종로성대점',
 '안녕파스타씨',
 '텍사스데브라질 압구정점',
 '구스토타코',
 '플링크 압구정',
 '이마쇼쿠',
 '대학로족발보쌈',
 '포도원삼계탕대학로점',
 '식스티즈',
 '눅',
 '싸움의고수 성균관대점',
 '달콤한거짓말',
 '강남곱창이야기신림점',
 '신사 모소리',
 '울리브루잉',
 '이름없는파스타 건대점',
 '중경삼림',
 '경양카츠 건대점',
 '한돌참치 대학로본점',
 '명륜동식당',
 '고향산천 원조 숯불닭갈비',
 '해마 티룸',
 '뻐꾸기 본점',
 '지리산삼계탕',
 '배떼기곱창 홍대점',
 '신사숙녀',
 '야사이마끼 쿠이신보',
 '천이오겹살',
 '웨이크앤베이크 청담',
 '해피베어데이',
 '대구안지랑곱창막창 건대점',
 '노모어피자',
 '사생활',
 '경성양육관',
 '에뚜왈',
 '이츠모라멘',
 '마일스톤 커피',
 '깍뚝',
 '허씨 정통중경마라샹궈',
 '너구리베이글 합정점',
 '숯총각꼼장어닭발 신림점',
 '꼬시',
 '만원수산 건대점',
 '언리미티드',
 '포크벨리',
 '매화반점 본점',
 '온미동 연남',
 '플디 도산점',
 '히든스시',
 '웍셔너리',
 '혼가츠',
 '크라운돼지',
 '미장플라쎄',
 '스시츠바사',
 '장인닭갈비 건대점',
 '지구상사 신림점',
 '참치가',
 '파인데이즈',
 '달빛마루',
 '굽네치킨 구의1동점',
 '매드포갈릭 건대스타시티점',
 '포비',
 '형훈 텐동',
 '포보 성균관대점',
 '원보양꼬치',
 'UPPERWEST',
 '스탠스커피',
 '공중도시',
 '긴자료코 신림점',
 '제스티살룬 연남',
 '블루룸',
 '혜화랑',
 '김창훈호프',
 '강릉형제장칼국수',
 '무지개맥주 건대점',
 '커피리브레 연남점',
 '양평해장국',
 '릴리베이커리',
 '하연옥 마포점',
 '막불감동',
 '뉴욕라츠오베이글스',
 '구루메키친',
 '올리버',
 '간짜장전문점세아',
 '어웨이크커피바',
 '반둥식당',
 '신주양꼬치 홍대점',
 '일월일일',
 '쿵푸소룽샤&마라룽샤',
 '스파이스드 SPICED',
 '우돈청',
 '역전할머니맥주 건대점',
 '일레븐 라운지',
 '헤이죠지',
 '복만루',
 '육쌈냉면 대학로점',
 '혜화동 다이닝',
 '오모테나시 오마카세',
 '지금보고싶다 혜화대학로점',
 '함반',
 '마녀주방 홍대점',
 '더빈마켓',
 '아무술집 건대점',
 '연하남',
 '멘타카무쇼',
 '카페 사흘',
 '오이지 연남',
 '카페키이로',
 '카페무니 압구정본점',
 '할리스 대명거리점',
 '강강술래 신림본동점',
 '오우',
 '청담돈',
 '삼창교자',
 '버거킹 혜화역점',
 '폰버거',
 '작당모의',
 '정돈 대학로본점',
 '미남포차',
 '잠수교집 5호점',
 '가든 포에트',
 '부추삼겹살딱이야',
 '우가',
 '타르틴베이커리 도산점',
 '신장군마라탕',
 '고기야채',
 '커피 벌스데이',
 '청수당갤러리',
 '디자이너리 카페',
 '카츠오모이 홍대점',
 '프레임',
 '생활맥주 대학로좁은골목점',
 '스킬렛 스테이크하우스',
 '탐앤탐스 성대입구점',
 '연남쌀국수 똣',
 '풀뜯는돼지',
 '화양시장할머니순대국',
 '프루스트',
 '사카바 토리야',
 '이자카야 곤조',
 '세상끝의라멘',
 '이웃집통통이 로데오점',
 '페스타마레 건대본점',
 '소고산제일루',
 '르브와 신림점',
 '고기싸롱 신대방역점',
 '대부포차',
 '혼맛스시',
 '798화로',
 '새마을39운동포차',
 '더 키친 일뽀르노 청담점',
 '943 킹스크로스CAFE',
 ...}

In [39]:
mergeAreaTotal

,name,tenCen,twoCen,threeCen,fourCen,fiveCen,sixCen,womanRatio,manRatio,gubun,score,visitCount,blogCount
0,972Bar,47.798333,81.895667,34.080667,23.921667,22.567667,16.666667,50,50,바(BAR),4.58,95,438
1,daughter,60.979000,82.769333,52.140333,38.466000,29.843000,21.163000,64,36,브런치,4.49,548,715
2,감성타코 건대점,58.620000,76.107667,51.874667,45.262667,34.982333,26.637000,53,47,"멕시코,남미음식",4.32,1115,870
3,경성양육관,23.258824,49.534588,41.462588,38.193176,29.228000,25.891529,46,54,양꼬치,4.58,704,782
4,고기굽는놈,6.938571,36.797714,20.247714,14.838286,6.939714,4.928857,42,58,"육류,고기요리",4.64,816,980
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1302,홍대 조폭 떡볶이,41.877882,47.499529,41.344471,41.639294,24.658118,18.780235,52,48,떡볶이,4.34,1401,952
1303,홍대공감,31.011667,81.910000,51.587000,38.511667,29.024000,23.114333,47,53,이자카야,4.88,252,202
1304,홍마떡 홍대본점,45.816235,51.043529,34.479294,31.301176,21.659294,16.940000,57,43,떡볶이,4.41,1132,1411
1305,후통,45.289647,50.893176,33.595529,29.094118,24.824471,23.301647,53,47,중식당,4.39,205,271
1306,훌리오 홍대점,60.981000,98.188500,85.564500,70.374000,51.883000,25.000000,53,47,"멕시코,남미음식",4.42,896,1161

In [40]:
mergeAreaTotal = mergeAreaTotal.loc[mergeAreaTotal.score != 0]

In [41]:
mergeAreaTotal = mergeAreaTotal.loc[mergeAreaTotal.tenCen != 0]
len(mergeAreaTotal)

1275

In [43]:
mergeAreaTotal

,name,tenCen,twoCen,threeCen,fourCen,fiveCen,sixCen,womanRatio,manRatio,gubun,score,visitCount,blogCount
0,972Bar,47.798333,81.895667,34.080667,23.921667,22.567667,16.666667,50,50,바(BAR),4.58,95,438
1,daughter,60.979000,82.769333,52.140333,38.466000,29.843000,21.163000,64,36,브런치,4.49,548,715
2,감성타코 건대점,58.620000,76.107667,51.874667,45.262667,34.982333,26.637000,53,47,"멕시코,남미음식",4.32,1115,870
3,경성양육관,23.258824,49.534588,41.462588,38.193176,29.228000,25.891529,46,54,양꼬치,4.58,704,782
4,고기굽는놈,6.938571,36.797714,20.247714,14.838286,6.939714,4.928857,42,58,"육류,고기요리",4.64,816,980
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1302,홍대 조폭 떡볶이,41.877882,47.499529,41.344471,41.639294,24.658118,18.780235,52,48,떡볶이,4.34,1401,952
1303,홍대공감,31.011667,81.910000,51.587000,38.511667,29.024000,23.114333,47,53,이자카야,4.88,252,202
1304,홍마떡 홍대본점,45.816235,51.043529,34.479294,31.301176,21.659294,16.940000,57,43,떡볶이,4.41,1132,1411
1305,후통,45.289647,50.893176,33.595529,29.094118,24.824471,23.301647,53,47,중식당,4.39,205,271
1306,훌리오 홍대점,60.981000,98.188500,85.564500,70.374000,51.883000,25.000000,53,47,"멕시코,남미음식",4.42,896,1161

In [44]:
index =mergeAreaTotal.name.drop_duplicates().index

In [45]:
mergeAreaTotal = mergeAreaTotal.loc[index]

In [42]:
mergeAreaTotal.to_csv("./mergeAreaTotal.csv", mode="w", encoding='utf8', sep='|', line_terminator='\n', index=False)

## 3-1 사이트별 평점, 리뷰 전처리(신사동)

#### 1) 네이버

In [ ]:
naverData = pd.read_csv("./dataset/naverData.csv", sep="|")

In [ ]:
naverData

#### 2) 다이닝 코드

In [ ]:
diningCode = pd.read_csv("./dataset/diningCode.csv", sep="|")

In [ ]:
tempList = list(diningCode.address)

for i in range(0, len(tempList)):
    tempList[i] = tempList[i].replace("\n"," ").replace("\n"," ").replace("\n"," ").replace("\n"," ").replace("\n"," ")

diningCode.address  = tempList

In [ ]:
diningCode

#### 3) 다음

In [ ]:
daum = pd.read_csv("./dataset/daum.csv", sep="|")

In [ ]:
tempList = list(daum.address)

for i in range(0, len(tempList)):
    tempList[i] = tempList[i].replace("\n"," ").replace("\n"," ").replace("\n"," ").replace("\n"," ").replace("\n"," ")

daum.address  = tempList

In [ ]:
daum

#### 4) 망고플레이트

In [ ]:
manggo = pd.read_csv("./dataset/manggoPlate.csv", sep="|")

In [ ]:
tempList = list(manggo.address)

for i in range(0, len(tempList)):
    tempList[i] = tempList[i].replace("\n"," ").replace("\n"," ").replace("\n"," ").replace("\n"," ").replace("\n"," ")

manggo.address  = tempList

In [ ]:
manggo

#### 5) 트립어드바이저

In [ ]:
tripAdvisor = pd.read_csv("./dataset/tripAdvisor.csv", sep="|")

In [ ]:
tempList = list(tripAdvisor.address)

for i in range(0, len(tempList)):
    tempList[i] = tempList[i].replace("\n"," ").replace("\n"," ").replace("\n"," ").replace("\n"," ").replace("\n"," ")

tripAdvisor.address  = tempList

In [ ]:
tripAdvisor

## 3-1 사이트별 평점, 리뷰 병합

In [ ]:
mergeNaDi = pd.merge(naverData, diningCode, how="outer", on=None)
mergeDaMan = pd.merge(daum, manggo, how="outer", on=None)
mergeNaDiDaMan = pd.merge(mergeNaDi, mergeDaMan, how="outer", on=None)
final_total_data = pd.merge(mergeNaDiDaMan, tripAdvisor, how="outer", on=None)

In [ ]:
final_total_data.reset_index(inplace=True)

In [ ]:
### 데이터 확인
final_total_data = pd.read_csv("./dataset/final_total_data.csv", sep="|")

In [ ]:
# 라벨링, 머지?dd

In [ ]:
mergeAgeTotal = pd.read_csv("./dataset/mergeAgeTotal.csv", encoding="ms949")
mergeAgeTotal.rename(columns={"Unnamed: 0" : "index"}, inplace=True)
mergeAgeTotal

In [ ]:
mergeCategoryTotal = pd.read_csv("./dataset/mergeCategoryTotal.csv", encoding="ms949")
mergeCategoryTotal.rename(columns={"Unnamed: 0" : "index"}, inplace=True)
mergeCategoryTotal

In [ ]:
pd.read_csv("./dataset/mergeAgeTotal.csv", encoding="ms949")

# 2.데이터 병합

In [ ]:
# mergeAreaTotal
mergeAreaTotal = pd.merge(mergeAgeTotal, mergeCategoryTotal, on="name", how="inner").drop(columns=["index_x", "index_y"])

In [ ]:
mergeAreaTotal.reset_index(inplace=True)
mergeAreaTotal

# 3. 라벨링

## 3-1 구분별 카테고리화

In [ ]:
mergeAreaTotal = func.labelFun(mergeAreaTotal)
mergeAreaTotal