In [13]:
### 사용 라이브러리
import pandas as pd
import pickle

In [14]:
### csv데이터 불러오기
peopleList = pd.read_csv("../dataset/서울시 우리마을가게 상권분석서비스(상권-생활인구).csv", encoding="ms949")

peopleList

len(peopleList)

### 리스트 컬럼조회
peopleColList = peopleList.columns

peopleColList

Index(['기준 년코드', '기준_분기_코드', '상권_구분_코드', ' 상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '총_생활인구_수', '남성_생활인구_수', '여성_생활인구_수', '연령대_10_생활인구_수',
       ...
       '여성연령대_60_이상_토요일시간대_3_생활인구_수', '여성연령대_60_이상_토요일시간대_4_생활인구_수',
       '여성연령대_60_이상_토요일시간대_5_생활인구_수', '여성연령대_60_이상_토요일시간대_6_생활인구_수',
       '여성연령대_60_이상_일요일시간대_1_생활인구_수', '여성연령대_60_이상_일요일시간대_2_생활인구_수',
       '여성연령대_60_이상_일요일시간대_3_생활인구_수', '여성연령대_60_이상_일요일시간대_4_생활인구_수',
       '여성연령대_60_이상_일요일시간대_5_생활인구_수', '여성연령대_60_이상_일요일시간대_6_생활인구_수'],
      dtype='object', length=532)

In [23]:
len(peopleList)

33367

In [4]:
with open("peopleData.pickle","wb") as fw:
    pickle.dump(peopleList,fw)

In [5]:
with open("peopleData.pickle","rb") as fr:
    data = pickle.load(fr)
data.head(2)

,기준 년코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_생활인구_수,남성_생활인구_수,여성_생활인구_수,연령대_10_생활인구_수,...,여성연령대_60_이상_토요일시간대_3_생활인구_수,여성연령대_60_이상_토요일시간대_4_생활인구_수,여성연령대_60_이상_토요일시간대_5_생활인구_수,여성연령대_60_이상_토요일시간대_6_생활인구_수,여성연령대_60_이상_일요일시간대_1_생활인구_수,여성연령대_60_이상_일요일시간대_2_생활인구_수,여성연령대_60_이상_일요일시간대_3_생활인구_수,여성연령대_60_이상_일요일시간대_4_생활인구_수,여성연령대_60_이상_일요일시간대_5_생활인구_수,여성연령대_60_이상_일요일시간대_6_생활인구_수
0,2021,4,U,관광특구,1001496,강남 마이스 관광특구,102294,51045,51249,6685,...,165,162,146,44,65,106,136,143,122,42
1,2021,4,U,관광특구,1001495,잠실 관광특구,3371333,1642782,1728551,336818,...,6171,6438,7573,4084,6809,6814,5921,6162,7116,4012

In [17]:
peopleSet = peopleList.loc[ (peopleList["기준 년코드"] == 2021) & (peopleList["기준_분기_코드"] == 4), ["기준 년코드", "기준_분기_코드", "상권_구분_코드", " 상권_구분_코드_명", "상권_코드", "상권_코드_명", "총_생활인구_수", "남성_생활인구_수", "여성_생활인구_수",\
                                                                                             "연령대_10_생활인구_수", "연령대_20_생활인구_수", "연령대_30_생활인구_수", "연령대_40_생활인구_수", "연령대_50_생활인구_수", "연령대_60_이상_생활인구_수", "시간대_1_생활인구_수",\
                                                                                             "시간대_2_생활인구_수", "시간대_3_생활인구_수", "시간대_4_생활인구_수", "시간대_5_생활인구_수", "시간대_6_생활인구_수", "월요일_생활인구_수", "화요일_생활인구_수", "수요일_생활인구_수",\
                                                                                             "목요일_생활인구_수", "금요일_생활인구_수", "토요일_생활인구_수", "일요일_생활인구_수"] ]

In [32]:
peopleSet.shape

(1668, 28)

In [20]:
### 서울 상권별 상세리스트 저장 
peopleDf = pd.DataFrame(columns=["STDR_YY_CD", "STDR_QU_CD", "TRDAR_SE_CD", "TRDAR_SE_CD_NM", "TRDAR_CD", "TRDAR_CD_NM", "TOT_FLPOP_CO", "ML_FLPOP_CO", "FML_FLPOP_CO",\
                                 "AGRDE_10_FLPOP_CO", "AGRDE_20_FLPOP_CO", "AGRDE_30_FLPOP_CO", "AGRDE_40_FLPOP_CO", "AGRDE_50_FLPOP_CO", "AGRDE_60_ABOVE_FLPOP_CO",\
                                 "TMZON_1_FLPOP_CO", "TMZON_2_FLPOP_CO", "TMZON_3_FLPOP_CO", "TMZON_4_FLPOP_CO", "TMZON_5_FLPOP_CO", "TMZON_6_FLPOP_CO",\
                                 "MON_FLPOP_CO", "TUES_FLPOP_CO", "WED_FLPOP_CO", "THUR_FLPOP_CO", "FRI_FLPOP_CO", "SAT_FLPOP_CO", "SUN_FLPOP_CO"])

In [21]:
peopleDf

Empty DataFrame
Columns: [STDR_YY_CD, STDR_QU_CD, TRDAR_SE_CD, TRDAR_SE_CD_NM, TRDAR_CD, TRDAR_CD_NM, TOT_FLPOP_CO, ML_FLPOP_CO, FML_FLPOP_CO, AGRDE_10_FLPOP_CO, AGRDE_20_FLPOP_CO, AGRDE_30_FLPOP_CO, AGRDE_40_FLPOP_CO, AGRDE_50_FLPOP_CO, AGRDE_60_ABOVE_FLPOP_CO, TMZON_1_FLPOP_CO, TMZON_2_FLPOP_CO, TMZON_3_FLPOP_CO, TMZON_4_FLPOP_CO, TMZON_5_FLPOP_CO, TMZON_6_FLPOP_CO, MON_FLPOP_CO, TUES_FLPOP_CO, WED_FLPOP_CO, THUR_FLPOP_CO, FRI_FLPOP_CO, SAT_FLPOP_CO, SUN_FLPOP_CO]
Index: []

[0 rows x 28 columns]

In [33]:
### 반복조회 후 저장
for i in range (0, len(peopleSet)):
    peopleDf = peopleDf.append({'STDR_YY_CD' :peopleSet["기준 년코드"].values[i], 'STDR_QU_CD' : peopleSet["기준_분기_코드"].values[i], 'TRDAR_SE_CD' : peopleSet["상권_구분_코드"].values[i], 'TRDAR_SE_CD_NM' : peopleSet[" 상권_구분_코드_명"].values[i], 'TRDAR_CD' : peopleSet["상권_코드"].values[i],\
                                'TRDAR_CD_NM' : peopleSet["상권_코드_명"].values[i], 'TOT_FLPOP_CO' : peopleSet["총_생활인구_수"].values[i], 'ML_FLPOP_CO' : peopleSet["남성_생활인구_수"].values[i], 'FML_FLPOP_CO' : peopleSet["여성_생활인구_수"].values[i],\
                                'AGRDE_10_FLPOP_CO' : peopleSet["연령대_10_생활인구_수"].values[i], 'AGRDE_20_FLPOP_CO' : peopleSet["연령대_20_생활인구_수"].values[i], 'AGRDE_30_FLPOP_CO' : peopleSet["연령대_30_생활인구_수"].values[i], 'AGRDE_40_FLPOP_CO' : peopleSet["연령대_40_생활인구_수"].values[i],\
                                'AGRDE_50_FLPOP_CO' : peopleSet["연령대_50_생활인구_수"].values[i], 'AGRDE_60_ABOVE_FLPOP_CO' : peopleSet["연령대_60_이상_생활인구_수"].values[i], 'TMZON_1_FLPOP_CO' : peopleSet["시간대_1_생활인구_수"].values[i],\
                                'TMZON_2_FLPOP_CO' : peopleSet["시간대_2_생활인구_수"].values[i], 'TMZON_3_FLPOP_CO' : peopleSet["시간대_3_생활인구_수"].values[i], 'TMZON_4_FLPOP_CO' : peopleSet["시간대_4_생활인구_수"].values[i], 'TMZON_5_FLPOP_CO' : peopleSet["시간대_5_생활인구_수"].values[i],\
                                'TMZON_6_FLPOP_CO' : peopleSet["시간대_6_생활인구_수"].values[i], 'MON_FLPOP_CO' : peopleSet["월요일_생활인구_수"].values[i], 'TUES_FLPOP_CO' : peopleSet["화요일_생활인구_수"].values[i], 'WED_FLPOP_CO' : peopleSet["화요일_생활인구_수"].values[i],\
                                'THUR_FLPOP_CO' : peopleSet["목요일_생활인구_수"].values[i], 'FRI_FLPOP_CO' : peopleSet["금요일_생활인구_수"].values[i], 'SAT_FLPOP_CO' : peopleSet["토요일_생활인구_수"].values[i], 'SUN_FLPOP_CO' : peopleSet["일요일_생활인구_수"].values[i]}, ignore_index=True)

In [34]:
### 데이터 저장 확인
peopleDf

,STDR_YY_CD,STDR_QU_CD,TRDAR_SE_CD,TRDAR_SE_CD_NM,TRDAR_CD,TRDAR_CD_NM,TOT_FLPOP_CO,ML_FLPOP_CO,FML_FLPOP_CO,AGRDE_10_FLPOP_CO,...,TMZON_4_FLPOP_CO,TMZON_5_FLPOP_CO,TMZON_6_FLPOP_CO,MON_FLPOP_CO,TUES_FLPOP_CO,WED_FLPOP_CO,THUR_FLPOP_CO,FRI_FLPOP_CO,SAT_FLPOP_CO,SUN_FLPOP_CO
0,2021,4,U,관광특구,1001496,강남 마이스 관광특구,102294,51045,51249,6685,...,24558,22174,5813,13986,15268,15268,16676,16343,12935,10865
1,2021,4,U,관광특구,1001495,잠실 관광특구,3371333,1642782,1728551,336818,...,546549,724599,375897,471969,479673,479673,486816,489461,497158,460732
2,2021,4,U,관광특구,1001494,종로?청계 관광특구,3868466,2102996,1765468,124708,...,807412,739611,302155,579395,620051,620051,625190,616411,463525,338464
3,2021,4,U,관광특구,1001493,동대문패션타운 관광특구,3218311,1544837,1673475,128933,...,447697,512591,405488,480120,506022,506022,506558,498361,391061,329634
4,2021,4,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,3954704,2007791,1946913,131802,...,945620,757425,205182,582190,651911,651911,660551,645755,423363,328433
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3331,2021,4,A,골목상권,2110005,세검정,168798,71490,97307,29980,...,20652,29038,23033,24295,24241,24241,24272,23998,23855,23759
3332,2021,4,A,골목상권,2110004,대신고등학교,450799,215632,235167,88599,...,60369,87838,61399,64251,65185,65185,64306,63952,63968,63574
3333,2021,4,A,골목상권,2110003,세검정초등학교,399155,179241,219915,72779,...,37851,53669,52313,57039,56110,56110,56563,56356,57983,58881
3334,2021,4,A,골목상권,2110002,독립문역 1번,320156,147007,173151,60389,...,39638,53684,41733,46037,46650,46650,46210,45834,44957,44085
3335,2021,4,A,골목상권,2110001,이북5도청사,144948,64965,79982,24310,...,17167,24220,18963,20472,20289,20289,20218,20261,21365,21760

In [37]:
peopleDf.to_csv('../dataset/analysis_list/seoul_move_people_list.csv', index=False, encoding="utf-8-sig")